#hey-listen {
    height: 3083px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2000;
    background-color: #00aaff;
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
}

#hey-listen .container {
    max-width: 1600px;
    margin: 0 auto;
}

#hey-listen .fact {
    margin: 40px;
    background-color: #00bbff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#hey-listen #answers {
    margin: 20px 40px;
}

#hey-listen #fact {
    font-size: 250px;
    color: #ffffff;
    text-shadow: 5px 2px 0px #282222;
}

#hey-listen #answers button {
    width: 23%;
    padding: 15px;
    margin-right: 2%;
    font-size: 20px;
    background-color: #00bbff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#hey-listen #answers button:last-child {
    margin-right: 0;
}

#hey-listen #answers button:hover {
    background-color: #00a0ff;
}

#hey-listen #mnemonic {
    display: none;
    color: #ffffff;
}