#hey-listen {
	position: absolute;
	left: 0px; top: 0px;
	background-color: #00aaff;
	z-index: 2000;
	height: 3083px;
	width: 100%;
	overflow-y: hidden; 
}

#hey-listen .container {
	text-align: center;
}

#hey-listen .fact {
	padding: 40px;
}

#hey-listen #fact {
	font-size: 250px;
	color: #ffffff;
    text-shadow: 5px 2px 0px #282222;
}

#hey-listen button {
	width: 24%;
	font-size: 20px;
	padding: 10px;
	color: #ffffff;
	background-color: #00bbff;
    border: 1px solid transparent;
    border-radius: 14px;
}

#hey-listen button:hover { 
    background-color: #00a0ff;
}

#hey-listen #mnemonic {
	display: none;
	color: #ffffff;
}